h1 {
	text-align: center;
	background: url("https://images.pexels.com/photos/515166/pexels-photo-515166.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260");
	background-size: cover;
	color: "fff";
	#slogan: text-decoration: italic;
}
hr {
	200
}

body {
	background-color: "fff";
}