h1 {
	text-align: center;
	background: url("http://imgur.com/awesomedog.jpg");
	background-size: cover;
	color: "fff";
	#slogan: text-decoration: italic;
}
hr {
	200
}

body {
	background-color: "fff";
}