
@import url('https://fonts.googleapis.com/css?family=Crimson+Text|Roboto+Slab');

.wrapper {
    background-color: white;
}
h1 {
	font-family: 'Roboto Slab', serif;
	color: #C5E063;
	text-align: center;
}

body {
	background-image: url("../images/adults-chairs-class-515166.jpg");
	font-family: 'Crimson Text', serif;
	color: blue;
}

.hero   {
    width:50vw;
    height: 50vw;
}

#slogan {
	font-style: italic;
    text-align: center;
}

header {
    background-color: none;
    border: 1px black solid;
    padding: 20px;
}

#main {
    display: block;
    background-color: none;
    padding: 20px;
    margin: 10px;
    float: right;
}

li  {
  background-color: #031927;
  color: white;
  text-decoration: none;
  display: block;
  float: left;
  padding: 20px;
}

aside {
    background-color: #FFC675;
    border: 1px black solid;
    padding: 20px;
}

article {
    background-color: #E89C6C;
    border: 1px black solid;
    padding: 20px;
}

#two_column {
    background-color: #FFB7CF;
    border: 1px black solid;
    padding: 20px;
}

#left {
    background-color: violet;
    border: 1px black solid;
    padding: 20px;
    float: left;
    width: 30%;
}

#right {
    background-color: pink;
    border: 1px black solid;
    padding: 20px;
    float: right;   
    width: 62%;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

footer {
    background-color: #FF957E;
    border: 1px black solid;
    padding: 20px;
}

div {
    background-color: #FFE2B8;
    border: 1px black solid;
    padding: 20px;
}